---
import { SITE_TITLE, SITE_DESCRIPTION } from "@/constants.ts";
import DefaultLayout from "@layouts/Default.astro";
import Article from "@components/Article.astro";
import Excerpt from "@components/Excerpt.astro";
import { Image } from "astro:assets";

const title = `${SITE_TITLE}`;
const description = `${SITE_DESCRIPTION}`;

// const data = {
//   sections: [
//         { name: 'heroSection' },
//         { name: 'directionsSection' },
//         { name: 'aboutUsSection' },
//         { name: 'reviewsSection' },
//         { name: 'featuresSection' },
//         { name: 'teamSection' },
//         { name: 'newSchoolSection' },
//         { name: 'faqSection' },
//       ]
// };
---

<DefaultLayout title={title} description={description}>

  <!-- {
    for (let index = 0; index < data.sections.length; index++) {
     <Fragment name={data.sections[index].name} params={data.sections[index]} />
    }
  } -->
  <section>
    <div class="bg-primary-green h-[787px]"></div>
  </section>

  <!-- Areas of study -->

  <section class="lg:py-section-top-bottom-padding bg-gray py-12">
    <div class="container">
      <div class="flex justify-center mb-6 lg:mb-11 basis-1/4 lg:basis-1/12">
        <h2 class="font-secondary text-2xl lg:text-3xl">Напрямки</h2>
      </div>

      <div
        class="flex lg:flex-row flex-col gap-5 mb-11 lg basis-1/4 lg:basis-1/12"
      >
        <div
          class="flex flex-col items-center bg-white shadow-2xl px-4 sm:px-6 lg:px-8 pt-4 pb-9 rounded-lg w-full aspect-80/113 lg:basis-4/12"
        >
          <Image
            class="mb-3"
            src={import("@images/logo-it-friends.jpg")}
            format="webp"
            alt="IT Friends logo"
          />
          <h3 class="mb-4 font-secondary font-semibold text-2xl">IT Заняття</h3>
          <span class="bg-span-gray mb-4 px-4 py-1 rounded-lg text-white"
            >діти від 7-8 років</span
          >
          <Article blockId="1">
            <div slot="description"></div>
            <div slot="advantages" class="content-advantages">
              Цей курс допоможе дітям зробити перші кроки в світі комп’ютерів та
              технологій. Ми вчимо через гру: програмуємо персонажів,
              розв’язуємо логічні задачі, створюємо прості історії.
            </div>
            <div slot="advantages" class="content-advantages">
              Діти навчаються з цікавістю, без стресу й тиску.
            </div>
          </Article>
          <button
            class="lg:hidden inline-block mb-3 py-2 border w-full orange-btn"
            type="button">Безкоштовний урок</button
          >
          <button class="py-2 border w-full transparent-btn" type="button"
            >Дізнатися більше</button
          >
        </div>
        <div
          class="flex flex-col items-center bg-white shadow-2xl px-4 sm:px-6 lg:px-8 pt-4 pb-9 rounded-lg w-full aspect-80/113 lg:basis-4/12"
        >
        <!-- Height -->
          <Image
            class="mb-3 max-h-28"
            src={import("@images/logo-english-friends.jpg")}
            format="webp"
            alt="English friends logo"
          />
          <h3 class="mb-4 font-secondary font-semibold text-2xl">
            Англійська для дітей
          </h3>
          <span class="bg-span-sand mb-4 px-4 py-1 rounded-lg text-black"
            >діти від 9-16 років</span
          >
          <Article blockId="1">
            <div slot="description"></div>
            <div slot="advantages" class="content-advantages">
              На цьому курсі учні створюють свої перші сайти, ігри, застосунки
              та дизайн-проєкти.
            </div>
            <div slot="advantages" class="content-advantages">
              Ми комбінуємо візуальне мислення з основами програмування, щоб
              діти розвивали як творчість, так і технічні навички. Кожен може
              спробувати себе в різному напрямку.
            </div>
          </Article>
          <button
            class="lg:hidden inline-block mb-3 py-2 border w-full orange-btn"
            type="button">Безкоштовний урок</button
          >
          <button class="py-2 border w-full transparent-btn" type="button"
            >Дізнатися більше</button
          >
        </div>

        <div
          class="flex flex-col items-center bg-white shadow-2xl px-4 sm:px-6 lg:px-8 pt-4 pb-9 rounded-lg w-full aspect-80/113 lg:basis-4/12"
        >
          <Image
            class="mb-3"
            src={import("@images/logo-tour-friends.jpg")}
            format="webp"
            alt="Tour friends logo"
          />
          <h3 class="mb-4 font-secondary font-semibold text-2xl">IT Табори</h3>
          <span class="bg-span-mint mb-4 px-4 py-1 rounded-lg text-black"
            >діти від 7-16 років</span
          >
          <Article blockId="1">
            <div slot="description"></div>
            <div slot="advantages" class="content-advantages">
              Англійська — це не нудні правила, а цікава практика. Ми працюємо з
              сучасними темами, які цікавлять дітей: технології, ігри,
              спілкування онлайн.
            </div>
            <div slot="advantages" class="content-advantages">
              Заняття проходять легко, у дружній атмосфері, без страху зробити
              помилку.
            </div>
          </Article>
          <button
            class="lg:hidden inline-block mb-3 py-2 border w-full orange-btn"
            type="button">Безкоштовний урок</button
          >
          <button class="py-2 border w-full transparent-btn" type="button"
            >Дізнатися більше</button
          >
        </div>
      </div>
      <div class="hidden lg:flex justify-center basis-1/4 lg:basis-1/12">
        <button
          class="px-5 py-4 font-secondary font-medium text-lg orange-btn"
          type="button">Безкоштовний урок</button
        >
      </div>
    </div>
  </section>

  <!-- About us -->

  <section class="py-20 lg:py-32">
    <div class="container">
      <div class="mb-8 basis-1/4 lg:basis1/12">
        <h2 class="font-secondary font-medium text-2xl lg:text-3xl">Про нас</h2>
      </div>
      <div class="flex lg:flex-row flex-col gap-8 basis-1/4 lg:basis1/12">
        <div class="lg:basis-6/12 basis-1/4">
          <Image
            src={import("@images/about-us-image.jpg")}
            format="webp"
            alt="about us"
          />
        </div>
        <div class="lg:basis-6/12 basis-1/4">
          <h3 class="mb-5 font-secondary font-semibold text-xl lg:text-3xl">
            Віримо в кожну дитину <br /> І вона починає вірити в себе
          </h3>
          <div class="flex flex-col gap-4 mb-16 basis-1/4">
            <div class="flex gap-6">
              <span
                class="px-0 lg:px-6 py-1 lg:py-2 border border-span-mint rounded-3xl w-full lg:w-auto font-play font-normal text-xl text-center"
                >індивідуально</span
              >
              <span
                class="px-0 lg:px-7 py-1 lg:py-2 border border-span-mint rounded-3xl w-full lg:w-auto font-play font-normal text-xl text-center"
                >інтерактивно</span
              >
            </div>
            <div class="flex gap-4">
              <span
                class="px-0 lg:px-11 py-1 lg:py-2 border border-span-mint rounded-3xl w-full lg:w-auto font-play font-normal text-xl text-center"
                >з любов’ю</span
              >
              <span
                class="px-0 lg:px-16 py-1 lg:py-2 border border-span-mint rounded-3xl w-full lg:w-auto font-play font-normal text-xl text-center"
                >гнучко</span
              >
            </div>
          </div>
          <!-- <Article blockId="section-2">
            <div slot="description" class="content-description">
              Не просто курси — місце для зростання
            </div>
            <div slot="advantages" class="content-advantages">
              Ми створили школу, в якій дитину не оцінюють, а підтримують.Тут
              кожен учень — важливий.
            </div>
            <div slot="advantages" class="content-advantages">
              Ми віримо, що найкращі результати приходять не через тиск, а через
              цікавість, довіру та повагу до темпу дитини.
            </div>
            <div slot="advantages" class="content-advantages">
              У нашій школі можна пробувати, помилятись, змінювати напрям і
              знову шукати своє — без страху бути «не таким».
            </div>
          </Article> -->

          <Article>
            <Excerpt wordLength={20} anchor={""} only="desktop">
              <p>
              Цей курс допоможе дітям зробити перші кроки в світі комп’ютерів та
              технологій. Ми вчимо через гру: програмуємо персонажів,
              розв’язуємо логічні задачі, створюємо прості історії.
              </p>
              <p>Діти навчаються з цікавістю, без стресу й тиску.</p>
            </Excerpt>
          </Article>
        </div>
      </div>
    </div>
  </section>

  <!-- Peculiarities -->

  <section class="bg-gradient-to-b from-gradient-from to-gradient-to py-20">
    <div class="container">
      <div class="basis-1/4 lg:basis1/12">
        <h2 class="text-center">Що робить нашу школу особливою</h2>
      </div>
    </div>
  </section>
</DefaultLayout>
