---
import Tabs from "@components/Tabs.astro";
import TabTrigger from "@components/TabsTrigger.astro";
import TabContent from "@components/TabContent.astro";
import DefaultLayout from "@layouts/Default.astro";
import Article from "@components/Article.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/constants";

const title = `${SITE_TITLE}`;
const description = `${SITE_DESCRIPTION}`;
---

<DefaultLayout title={title} description={description}>
  <!-- Tab component -->
  <Tabs colorKey="gray" divider={false} triggerType="pill">
    <Fragment slot="triggers">
      <TabTrigger id="tab_1" colorKey="gray">Global tab trigger 1</TabTrigger>

      <TabTrigger id="tab_2" colorKey="gray">Global tab trigger 2</TabTrigger>
    </Fragment>

    <Fragment slot="content">
      <TabContent id="tab_1">
        <Tabs colorKey="gray">
          <Fragment slot="triggers">
            <TabTrigger id="subtab1_1" colorKey="sand">IT Courses 1</TabTrigger>

            <TabTrigger id="subtab1_2" colorKey="sand">Web Development 1</TabTrigger>

            <TabTrigger id="subtab1_3" colorKey="sand">Data Science 1</TabTrigger>

            <TabTrigger id="subtab1_4" colorKey="sand">Cybersecurity 1</TabTrigger>
          </Fragment>

          <Fragment slot="content">
            <TabContent id="subtab1_1">
              <h2>IT Courses</h2>
              <p>Explore our comprehensive IT courses designed to enhance your skills and knowledge in the field.</p>
              <Article>Get started with the foundational technologies of web development.</Article>
            </TabContent>
        
            <TabContent id="subtab1_2">
              <h2>Web Development</h2>
              <p>Master the art of building dynamic websites and applications.</p>
              <Article>Get started with the foundational technologies of web development.</Article>
            </TabContent>
        
            <TabContent id="subtab1_3">
              <h2>Data Science</h2>
              <p>Unlock the power of data with our data science courses.</p>
              <Article>Get started with the foundational technologies of web development.</Article>
            </TabContent>
        
            <TabContent id="subtab1_4">
              <h2>Cybersecurity</h2>
              <p>Protect systems and networks from cyber threats.</p>
              <Article>Get started with the foundational technologies of web development.</Article>
            </TabContent>
          </Fragment>
        </Tabs>
      </TabContent>
      
      <TabContent id="tab_2">
        <Tabs colorKey="gray">
          <Fragment slot="triggers">
            <TabTrigger id="subtab2_1" colorKey="sand">IT Courses 2</TabTrigger>

            <TabTrigger id="subtab2_2" colorKey="sand">Web Development 2</TabTrigger>

            <TabTrigger id="subtab2_3" colorKey="sand">Data Science 2</TabTrigger>

            <TabTrigger id="subtab2_4" colorKey="sand">Cybersecurity 2</TabTrigger>
          </Fragment>

          <Fragment slot="content">
            <TabContent id="subtab2_1">
              <h2>IT Courses</h2>
              <p>Explore our comprehensive IT courses designed to enhance your skills and knowledge in the field.</p>
              <Article>Get started with the foundational technologies of web development.</Article>
            </TabContent>
        
            <TabContent id="subtab2_2">
              <h2>Web Development</h2>
              <p>Master the art of building dynamic websites and applications.</p>
              <Article>Get started with the foundational technologies of web development.</Article>
            </TabContent>
        
            <TabContent id="subtab2_3">
              <h2>Data Science</h2>
              <p>Unlock the power of data with our data science courses.</p>
              <Article>Get started with the foundational technologies of web development.</Article>
            </TabContent>
        
            <TabContent id="subtab2_4">
              <h2>Cybersecurity</h2>
              <p>Protect systems and networks from cyber threats.</p>
              <Article>Get started with the foundational technologies of web development.</Article>
            </TabContent>
          </Fragment>
        </Tabs>
      </TabContent>
    </Fragment>
  </Tabs>
</DefaultLayout>