---
import type { HTMLAttributes } from 'astro/types';

const tabColorMap = {
  gray: "bg-transparent-btn-hover-bg",
  sand: "bg-primary-sand",
} as const;

interface Props extends HTMLAttributes<'button'> {
  id: string;
  colorKey: keyof typeof tabColorMap;
  triggerType?: 'pill' | 'tab';
}

const {
  id,
  colorKey,
  triggerType = 'tab',
  class: classes
} = Astro.props;

// const inactiveTextColor = triggerType === 'pill' ? 'text-white' : 'text-black';
// const activeTextColor = 'text-black';

const isActive = id.slice(-1) === '1'; 
---

<button
  class:list={[
    "tab-trigger inline-block px-3 lg:px-7 py-3 duration-300",
    triggerType === 'pill' ? 'rounded-full w-full' : 'rounded-t-lg',
    isActive
      ? (triggerType === 'pill' ? 'bg-white text-black' : `${tabColorMap[colorKey]} text-black`)
      : (triggerType === 'pill' ? 'bg-[transparent] text-white' : 'bg-[transparent] text-black'),
    classes
  ]}
  role="tab"
  data-tab={id}
  data-trigger-type={triggerType}
  data-color={tabColorMap[colorKey]} 
  aria-selected={isActive}
  type="button"
>
  <slot />
</button>
