---
/** PostListSection.astro */

export interface Post {
  slug: string;
  title: string;
  image: { url: string; alt?: string }; // из Sanity (remote URL)
  content: string;
  date: string; // ISO-строка
}

type Props = {
  section: {
    posts: Post[];
    buttonText: string;
  };
};

const { section } = Astro.props as Props;
const posts = section.posts;
const buttonText = section.buttonText;
const lang = (Astro.params as { lang?: string }).lang ?? 'uk';
---

<section class="pt-20">
  <div class="container">
    <div class="gap-x-5 gap-y-11 lg:gap-y-16 grid grid-cols-1 lg:grid-cols-3 mb-1 lg:mb-11 posts-container">
      {posts.map((post) => (
        <a href={`/${lang}/blog/${post.slug}`} class="hidden mb-11 post-card">
          
            <div class="aspect-4/3">
              <img
                src={post.image.url}
                alt={post.image.alt || post.title}
                loading="lazy"
                decoding="async"
                class="rounded-lg w-full h-full object-center object-cover"
              />
            </div>

            <h3 class="mt-8 font-bold text-xl">{post.title}</h3>
            <p class="opacity-80 mt-2 text-lg line-clamp-3">{post.content}</p>

            <time class="block opacity-60 mt-2 text-sm">
              {new Date(post.date).toLocaleDateString()}
            </time>
        </a>
      ))}
    </div>

    <div class="flex justify-center">
      <button type="button" class="px-20 py-3 transparent-btn load-more-btn">
        {buttonText}
      </button>
    </div>
  </div>
</section>

<script>
  import { setupLoadMorePostsByClasses } from '@scripts/posts';
  setupLoadMorePostsByClasses();
</script>
