---
// import Excerpt from "@components/Excerpt.astro";
export interface Post {
  slug: string;
  title: string;
  image: { url: string; alt?: string }; 
  content: string;
  date: string; 
}

type Props = {
  section: {
    posts: Post[];
    buttonText: string;
  };
};

const { section } = Astro.props as Props;
const posts = section.posts;
const buttonText = section.buttonText;
const lang = (Astro.params as { lang?: string }).lang ?? 'uk';
---

<section class="pt-20">
  <div class="container">
    <div class="gap-x-5 gap-y-11 lg:gap-y-16 grid grid-cols-1 lg:grid-cols-3 mb-1 lg:mb-11 posts-container">
      {posts.map((post) => (
        <a href={`/${lang}/blog/${post.slug}`} class="hidden flex flex-col mb-11 post-card">

          <div class="rounded-lg w-full h-64 lg:h-72 overflow-hidden">
            <img
              src={post.image.url}
              alt={post.image.alt || post.title}
              loading="lazy"
              decoding="async"
              class="w-full h-full object-center object-cover"
            />
          </div>

          <h3 class="mt-3 mb-4 font-bold text-xl">{post.title}</h3>
          
          <div class="flex flex-col flex-1 justify-end mt-0">
            {/* <Excerpt lineCount={1}> */}
              <p class="opacity-80 mt-0 mb-1 text-lg line-clamp-3">{post.content}</p>
              <p class="mb-1 font-bold text-base">читати більше ></p>
            {/* </Excerpt> */}


            <time class="block opacity-60 text-sm">
              {new Date(post.date).toLocaleDateString('uk-UA', {
                year: 'numeric',
                month: 'long',
                day: 'numeric'
              })}
            </time>
          </div>
        </a>
      ))}
    </div>

    <div class="flex justify-center">
      <button type="button" class="px-20 py-3 transparent-btn load-more-btn">
        {buttonText}
      </button>
    </div>
  </div>
</section>

<script>
  import { setupLoadMorePostsByClasses } from '@scripts/posts';
  setupLoadMorePostsByClasses();
</script>
